---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import SucursalFinder from '../components/SucursalFinder.astro'; // <--- NUEVO
---

<Layout title="Charly Pizza | Inicio">
	
	<Hero />
    
    <SucursalFinder />

	<section class="py-20 text-center">
        <h2 class="text-3xl font-bold text-charly-black">Nuestras Pizzas</h2>
	</section>

</Layout>